<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <title>找回密码</title>
    <link href="css/style.css" rel="stylesheet" type="text/css" />
</head>
<body class="member">

<div class="w1185">
    <div class="logo"><a href="#"></a></div>
    <div class="font-d">欢迎登陆</div>
    <div class="search">
        <form action="#" class="form">
            <input class="txt" name="keyword" onblur="if(value=='') {value='输入商品关键字'}" onfocus="if(value=='输入商品关键字') {value=''}" type="text" value="输入商品关键字"/>
            <input class="sub" type="submit" value="搜索"/>
        </form>
        <p><a href="#">iphone6s</a>|<a href="#">面膜</a>|<a href="#">婚庆床品</a>|<a href="#">运动鞋</a>|<a href="#">眼霜</a>|<a href="#">月饼</a>|<a href="#">智能手机</a>|<a href="#">连衣裙</a></p>
    </div>
    <div class="s_r"><img src="images/tel.jpg"/></div>
    <div class="clear"></div>
</div>

<div class="reg" id="app">
    <div class="w1185">
        <div class="left">
            <p><b>找回密码</b></p>
            <form action="#" class="form">
                <ul>
                    <li><span><font>*</font> 用户名：</span><input class="txt" name="" type="text" v-model="username"/></li>
                    <li><span><font>*</font> 邮箱账号：</span><input class="txt" name="" type="text" v-model="email"/></li>
                    <li><span><font>*</font> 请设置新密码：</span><input class="txt" name="" type="password" v-model="password"/></li>
                    <li><span><font>*</font> 请确认新密码：</span><input class="txt" name="" type="password" v-model="password1"/></li>
                    <li class="li03"><span><font>*</font> 验证码：</span><input class="txt txt2" name="" type="text" v-model="valcode"/><img src="images/code.jpg" @click="sendEmail()"/></li>
                    <li class="li02"><input class="sub" type="button" value="立即注册" @click="reg()"/></li>
                </ul>
            </form>
        </div>
        <div class="clear"></div>
    </div>
</div>

<div class="bottom">
    <a href="#">关于我们</a>|<a href="#">帮助中心</a>|<a href="#">法律声明</a>|<a href="#">用户协议</a>|<a href="#">联系我们</a>|<a href="#">人才招聘</a>|<a href="#">站点地图</a>

    <p>网络文化经营许可证：粤网文XXX号<br />(c) 2015 深圳易易城科技网络有限公司. 粤ICP备XXX号</p>
</div>


<script src="./js/vue.js"></script>
<script src="./js/axios.js"></script>
<script type="text/javascript">
    Vue.config.productionTip = false;

    // 配置访问的地址
    var base_url = "http://localhost:20001/";
    var addr_bbssecurity = base_url + "security/";

    let vm = new Vue({
        el: "#app",
        data: {
            username: 'XG',
            email: '2890305092@qq.com', // 登录时用的参数
            password: '',
            password1: '',
            valcode:'',
        },
        methods: {
            sendEmail:function(){
                let params = new URLSearchParams();
                params.append("tos",this.email)
                console.log(params);
                axios.get(addr_bbssecurity+"email/sendEmail?"+params);
            },
            reg:function(){
                if (this.password != this.password1) {
                    alert("两次输入密码不一致！")
                    return;
                }
                if (this.valcode == null) {
                    alert("验证码为空。。。")
                    return;
                }
                let params = new URLSearchParams();
                params.append("username",this.username);
                params.append("email",this.email);
                params.append("password",this.password);
                params.append("valcode",this.valcode)
                axios.post(addr_bbssecurity+"security/user/backpwd.action",params).then(data=>{
                    if (data.data.code == 1) {
                        alert("注册成功！");
                        window.location = 'login.html';
                    }
                    let result = data.data;
                    if (result.code == 0) {
                        alert("登录失败，原因： " + result.msg);
                        return;
                    }
                });
            }
        }
    });
</script>
</body>login
</html>
