<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<title>登陆</title>
<link href="css/style.css" rel="stylesheet" type="text/css" />
</head>
<body class="member">

	<div class="w1185">
    	<div class="logo"><a href="#"></a></div>
        <div class="font-d">欢迎登陆</div>
        <div class="search">
        	<form action="#" class="form">
        		<input class="txt" name="keyword" onblur="if(value=='') {value='输入商品关键字'}" onfocus="if(value=='输入商品关键字') {value=''}" type="text" value="输入商品关键字"/>
                <input class="sub" type="submit" value="搜索"/>
            </form>
        	<p><a href="#">iphone6s</a>|<a href="#">面膜</a>|<a href="#">婚庆床品</a>|<a href="#">运动鞋</a>|<a href="#">眼霜</a>|<a href="#">月饼</a>|<a href="#">智能手机</a>|<a href="#">连衣裙</a></p>
        </div>
        <div class="s_r"><img src="images/tel.jpg"/></div>
        <div class="clear"></div>
    </div>

<div class="m_bg" id="app">
	<div class="w1185">
    	<form action="#" class="form">
        	<p class="p01"><span>会员登录</span><a href="reg.html">免费注册</a></p>
        	<p class="p02"><input class="txt" name=""   v-model="username" onblur="if(value=='') {value='账户名'}" onfocus="if(value=='账户名') {value=''}" type="text" value="账户名"/></p>
            <p class="p03"><input class="txt" name=""   v-model="password"  type="password" value="密码"/></p>
            <p class="p04"><span class="sp01"><input name="" id="automatic" type="checkbox"/>自动登录</span><span class="sp02">忘记密码？点击<a href="backpwd.html">找回密码</a></span></p>
            <p class="p05"><input class="sub" type="button" value="立即登陆"  @click="login()"/></p>
            <p class="p06">使用合作网站账号登录：</p>
            <p class="p07"><a class="a01" href="#"></a><a class="a02" href="#"></a><a class="a03" href="#"></a></p>
        </form>
    </div>
</div>

<div class="bottom">
	<a href="#">关于我们</a>|<a href="#">帮助中心</a>|<a href="#">法律声明</a>|<a href="#">用户协议</a>|<a href="#">联系我们</a>|<a href="#">人才招聘</a>|<a href="#">站点地图</a>
   
    <p>网络文化经营许可证：粤网文XXX号<br />(c) 2015 深圳易易城科技网络有限公司. 粤ICP备XXX号</p>
</div>

    <script src="js/vue.js"></script>
    <script src="js/axios.js"></script>
    <script type="text/javascript">
        Vue.config.productionTip = false;

        // 配置访问的地址
        var base_url = "http://localhost:20001/";
        var addr_bbssecurity = base_url + "security/";

        let vm = new Vue({
            el: "#app",
            data: {
                username: '', // 登录时用的参数
                password: ''
            },
            created() {
                this.username = sessionStorage.getItem("username");
                this.password = sessionStorage.getItem("password");

                // 判断是否记住密码
                if (typeof this.username === "string") {
                    this.checked = true;
                } else {
                    this.checked = false;
                }
            },
            methods: {
                login(){
                    let params = new URLSearchParams();
                    var agreeCheckbox = document.getElementById("automatic");

                    var username = this.username;
                    var password = this.password;

                    if (agreeCheckbox.checked) {
                        // 用户勾选了复选框，执行存操作
                        sessionStorage.setItem("username",username)
                        sessionStorage.setItem("password",password)
                    } else {
                        sessionStorage.clear();
                    }
                    params.append("username",this.username);
                    params.append("password",this.password);
                    axios.post(addr_bbssecurity+"security/user/login.action",params).then(data=>{
                        let result = data.data;
                        if (result.code == 0) {
                            alert("登录失败，原因： " + result.msg);
                            return;
                        }
                        localStorage.setItem('token', 'Bearer ' + result.data);
                       // alert("登录成功，获得token" + result.data);
                        window.location = 'index.html';
                    });
                }
            }
        });
    </script>
</body>
</html>

